html {
	font-size: 16px;
}
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
  justify-content: center;
  align-items: center;
}

.container{
	display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
	max-width: 1200px;
	width: 90%;
}

h1,
h2,
h3,
h4 {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

/*The widths are in a percentage!*/
header {
	display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
	border-bottom: 3px solid #77a466;
	text-align: center;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	font-size: 1.875em;
	margin: 0;
	padding: 38px 0;
	width: 100%;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	font-size: .875em;
	font-weight: 700;
	list-style: none;
  padding: 10px 0;
	text-transform: uppercase;
}
header nav ul li a{
	color:#77a466;
	text-decoration: none;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	border-bottom: 3px solid #77a466;
	width: 100%;
}

.main-title h3 {
	color: #77a466;
	font-size: 1.125em;
	padding: 5px 0;
	text-align: left;
}
.main-title p {
	font-size: 1em;
	line-height: 1.5625;
	padding: 0;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	width: 100%;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	color:#77a466;
	padding: 10px 0;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125;
}

.address {
	font-size: 1em;
	line-height: 1.5;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
  justify-content: center;
  align-items: center;
	flex-flow: row wrap;
	border-top: 3px solid #eee;
	text-align: center;
	width: 100%;
}
footer span {
	color: #77a466;
	font-size: .875em;
	font-family: 'Galada', cursive;
	text-transform: lowercase;
}

@media all and (min-width:768px) {
    /* Tablet styles here */

		.bottom-section {
			justify-content: flex-start;
		  align-items: flex-start;
			border-top: 1px solid #eee;
		}

		.section-one,
    .section-two,
    .section-three {
        border-top: none;
        flex-basis: 30%;
    }

		.section-two {
				border-left: 1px solid #eee;
				border-right: 1px solid #eee;
				padding: 0 20px;
		}

		.section-three {
			padding-left: 20px;
		}

}

@media only screen and (min-width: 1200px) {
    header {
        justify-content: space-between;
    }

    header h1 {
			  border-bottom: none;
        padding: 0;
        text-align: left;
				width: 30%;
    }

    header nav {
        width: 40%;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }
}
